@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

root {
    --main-bg-color: hsl(0, 0%, 100%);
    --main-font-color: hsl(0, 0%, 20%);
    --my-gold-color: hsl(51, 100%, 50%);
}

html {
    /* Typography */
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    letter-spacing: .05rem;
    text-align: justify;

    /* Visual */
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
}

body {
    /* Typography */
    font-size: 1.6rem;

    /*Mobile first*/
    display: block;
    min-width: 25rem;

    padding-left: 1rem;
    padding-right: 1rem;

    border-top: black solid 0.5rem;
    border-bottom: black solid 0.5rem;

}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3,
h4,
h5 {
    font-size: 2rem;
}

h5 {
    margin-bottom: 1rem;
    color: #888;
}

h6 {
    font-size: 1.8rem;
    margin: 0;
}

.header-avatar img {
    width: 70%;
    max-width: 15rem;
    /*display: inline-block;*/
    /*width: 10rem;*/
    border: solid 0.2rem hsl(51, 100%, 50%);
    border-radius: 50%;
}

/* Links*/
a {
    color: hsl(50, 100%, 50%);
}

a:hover {
    color: hsl(50, 50%, 50%);
}

footer {
    /*Typographic*/
    font-size: 1rem;

    /*Flex for child items*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    padding: 1rem;
}


@media (min-width: 580px) {
    body {
        width: 80%;
        max-width: 100rem;
        margin-left: auto;
        margin-right: auto;
        /*margin: 0 auto;*/
        padding-left: 3rem;
        padding-right: 3rem;

        display: grid;
        gap: 1rem;
        grid-template-columns: 5fr 2fr;
    }

    .header-avatar {
        display: flex;
        align-items: center;
        justify-items: center;
        flex-direction: column;
    }
    .header-avatar img {
        width: 90%;
        max-width: 20rem;
    }
    aside {
        padding-left: 1rem;
    }

    footer {
        grid-column: span 2;
        grid-row: 3;
    }
}
