root {
    --main-bg-color: hsl(0, 0%, 100%);
    --main-font-color: hsl(0, 0%, 20%);
    --my-gold-color: hsl(51, 100%, 50%);
}

html {
    /* Typography */
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    letter-spacing: .05rem;
    text-align: justify;

    /* Visual */
    background-color: var(--main-bg-color);
    color: var(--main-font-color);

    scroll-behavior: smooth;
}

body {
    /* Typography */
    font-size: 1.6rem;

    /*Mobile first*/
    display: block;
    min-width: 25rem;

    padding-left: 1rem;
    padding-right: 1rem;

    border-top: black solid 0.5rem;
    border-bottom: black solid 0.5rem;
}


.fa-bars:before {
    font-size: 3rem;
}

nav .hamburger-menu {
    text-align: right;
}

nav {
    font-size: 3rem;
    /*display: none;*/
}

/*Nav opened*/
.opened {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.98);
    border: solid 0.1rem hsl(51, 100%, 50%);
    padding: 3rem;
}

nav.opened .navigation-menu {


}

nav.opened li {
    display: block;
}

nav.opened .hamburger-menu {
    position: relative;
    top: 1rem;
    right: 1rem
}

.invisible {
    display: none;
}
.visible{
    display: block;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3,
h4,
h5 {
    font-size: 2rem;
}

h5 {
    margin-bottom: 1rem;
    color: #888;
}

h6 {
    font-size: 1.8rem;
    margin: 0;
}

.header-avatar img {
    width: 15rem;
    border: solid 0.2rem hsl(51, 100%, 50%);
    border-radius: 50%;
}

/* Links*/
a {
    color: hsl(50, 100%, 50%);
}

a:hover {
    color: hsl(50, 50%, 50%);
}

footer {
    /*Typographic*/
    font-size: 1rem;

    /*Flex for child items*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    padding: 1rem;
}


@media (min-width: 700px) {
    body {
        width: 80%;
        max-width: 100rem;
        margin-left: auto;
        margin-right: auto;
        padding-left: 3rem;
        padding-right: 3rem;

        display: grid;
        gap: 1rem;
        grid-template-columns: 5fr 2fr;
    }

    .header-avatar {
        display: flex;
        align-items: center;
        justify-items: center;
        flex-direction: column;
    }

    aside {
        padding-left: 1rem;
    }

    footer {
        grid-column: span 2;
    }

    .hamburger-menu {
        display: none;
    }

    nav {
        grid-column: span 2;
        text-align: right;
        font-size: 2.2rem;
        /*position: unset;*/
    }

    nav li {
        display: inline-block;
    }

    #navigation-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }
}
